CONFIG = {
  :mail => Proc.new {
    retriever_method :imap, :address    => "imap.googlemail.com",
                            :port       => 993,
                            :user_name  => "<username>",
                            :password   => "<password>",
                            :enable_ssl => true

    delivery_method :sendmail
  },
  :from => 'abuse@example.com',
  :body => File.read('body.txt'),

  # Provide a method to lookup to whom to forward emails based on some key
  :to => Proc.new do |key|
    "john@example.com"
  end,

  :classifiers => [
    MailClassifier::ByToken.new(%w(
      #SPAM
      #DMCATakedown
      #SMTPOpenRelayNotice
    ))
  ]
}
